.HeaderPlaceHolder{
  width: max(200px,100vw);
  height: max(50px,7vw);
}





.HeaderDivSearch{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px #000 solid;
  height: max(40px,7vw);
  width: max(200px,100vw);
  padding: max(5px, 2vw);
  z-index: 99;
}

.HeaderDivSearch > input{
  width: 80%;
  height: max(30px, 4vw);
  font-size: max(15px, 2vw);
  margin: 2%;
  padding: 2px;
  padding-inline: 5px;
}

.HeaderDivSearch > svg{
  height: max(15px,2.5vw);
}





.Header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: max(200px,100vw);
  height: max(50px,7vw);
  background-color: #000;
  outline: groove;
  z-index: 999;
}

.Header > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(3px, 4vw);
  margin-inline: max(15px, 4vw);
}

.Header > div > div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.Header > div > div > .link > p{
  font-size: max(10px,2vw);
  user-select: none;
  cursor: default;
}

.Header > div > div > .link > svg{
  height: max(20px,3vw);
}



.Header > div > .search > svg{
  height: max(15px, calc(4vw - 8px));
  padding: 4px;
  cursor: pointer;
}



.Header > div > nav > ul,
.Header > div > nav > ul > li > ul{
  display: flex;
  list-style: none;
}

.Header > div > nav > ul > li > svg{
  display: contents;
}

.Header > div > nav > ul > li > svg{
  height: max(15px,2.5vw);
}

.Header > div > nav > ul > li > ul > li > .link{
  margin: max(5px,.7vw);
  font-size: max(13px,2.5vw);
}

@media screen and (max-width: 380px){
  .Header{
    justify-content: space-around;
  }

  .Header > .contentLeft{
    flex-direction: row-reverse;
  }

  .Header > div > nav > ul > li > svg{
    display: block;
  }

  .Header > div > nav > ul > li > ul{
    display: none;
    background-color: #000;
    position: absolute;
    top: max(50px,7vw);
  }

  .Header > div > nav > ul > li > ul > li{
    padding: 5px;
  }

  .Header > div > nav > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: max(50px,7vw);
  }

  .Header > div > nav > ul > li:hover > ul{
    display: block;
  }
}
