.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}



.Login > form{
  display: flex;
  flex-direction: column;
  width: max(400px,35vw);
  background-color: #000;
  margin: 5vw;
  padding: 5vw;
  padding-top: 2vw;
  border-radius: 20px;
}

.Login > form > label{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1vw;
}

.Login > form > div{
  margin-bottom: 5px;
}

.Login > form > label > .link{
  font-size: max(17px,2vw);
}

.Login > form > label > p{
  color: #fff;
  font-size: max(23px,2.5vw);
  margin-bottom: max(10px,1.5vw);
}

.Login > form > label > .error{
  justify-self: center;
  display: none;
  font-size: max(15px,1.5vw);
  border-radius: 0px 0px 5px 5px;
  padding: 3px;
  width: 80%;
  background-color: #f00;
  color: #fff;
}

.Login > form > label > input,
.Login > form > label > span > input{
  border-radius: 5px;
  color: #000;
  height: max(23px,3vw);
  width: 100%;
  padding: max(3px,.4vw);
  border-right: none;
}

.Login > form > label > .inputIncorrect:not(span){
  outline: 3px #f00 solid;
}

.Login > form > label > .inputIncorrect > input,
.Login > form > label > .inputIncorrect > svg{
  border: none;
  outline: 3px #f00 solid;
}



.Login > form > label > span:not(.error){
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Login > form > label > span > svg{
  position: relative;
  height: max(9px,calc(3vw - 14px));
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  padding: 7px;
  cursor: pointer;
  border-left: 3px #000 solid;
}

.Login > form > label > span > input{
  border-radius: 5px 0 0 5px;
  width: 100%;
}



.Login > form > div > button{
  margin-top: max(20px, 1.5vw);
  cursor: pointer;
  width: 40%;
  font-size: max(20px,2vw);
  padding: max(5px,1vw);
  color: #000;
  border-radius: 10px;
}.Login > form > div > button:hover{
  color: #000b;
}.Login > form > div > button:active{
  color: #fff;
}
