
.Description > div:not(.DisplayCaseHorizontal){
  display: flex;
  padding: max(5px, 2vw);
  color: #fff;
}

.Description > div > img{
  width: 187px;
  height: 280px;
  border: 1px #fff solid;
  border-radius: 10px;
}

.Description > div:not(.DisplayCaseHorizontal) > aside{
  width: 100vw;
  margin: max(1rem, 1vw);
}

.Description > div > aside > .infoMain > h1{
  margin-bottom: 10px;
  font-size: min(35px, max(20px, 3.5vw));
}

.Description > div > aside > .infoMain > h3{
  font-size: min(30px, max(18px, 3vw));
}

.Description > div > aside > .infoSecond > h3{
  margin: 15px;
}

.Description > div > aside > .infoSecond > h4{
  color: #fffa;
  margin: 1rem;
}

.Description > div > aside > .infoThird{
  margin-left: max(2px, 1vw);
  background-color: #000;
  padding: min(15px, max(8px, 1vw));
  font-size: min(15px, max(10px, 2vw));
  border: 1px #fff solid;
  border-radius: 15px;
  width: max(200px, 60vw);
}

.Description > div > aside > .infoThird > .overview{
  margin: max(8px, 1vw);
  text-indent: max(1rem, 1vw);
}




@media (max-width: 420px) {

  .Description > div:not(.DisplayCaseHorizontal) > aside{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Description > div > img{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    filter: opacity(30%);
    border: none;
    border-radius: 0;
  }
}
