.Footer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: max(200px,100vw);
  height: max(100px,10vw);
  background-color: #000;
  outline: groove;
}

.Footer > ul{
  padding: max(3px, 1vw);
  display: grid;
  grid-template-rows: repeat(10, auto);
  justify-content: center;
  list-style: none;
}

.Footer > ul > li > h2{
  color: #fff;
  font-size: max(12px,2.5vw);
}

.Footer > ul > li > a{
  color: #fff;
  font-size: max(10px,2vw);
}