.HeaderPlaceHolder{
  width: max(200px,100vw);
  height: max(50px,7vw);
}





.HeaderDivSearch{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: max(40px,7vw);
  width: max(200px,100vw);
  padding: max(5px, 2vw);
  z-index: 99;
}

.HeaderDivSearch > input{
  width: 100%;
  height: max(30px, 4vw);
  font-size: max(15px, 2vw);
  border: 1px #000 solid;
  padding: 2px;
  padding-inline: 5px;
}





.Header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: max(200px,100vw);
  height: max(50px,7vw);
  background-color: #000;
  outline: groove;
  z-index: 999;
}

.Header > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(3px, 4vw);
  margin-left: max(8px, 1vw);
  margin-right: max(20px, calc(1vw + 12px));
}

.Header > div > div > .link > svg{
  cursor: pointer;
  width: max(20px,3vw);
  padding: max(5px,.5vw);
}.Header > div > div > .link > .user{
  border-radius: 50%;
}.Header > div > div > .link > svg:hover{
  fill-opacity: 80%;
}

.Header > div > div > .link > p{
  font-size: max(10px,2vw);
  user-select: none;
  cursor: default;
}

.Header > div > div > .link > svg{
  height: max(20px,3vw);
}



.Header > div > .search > svg{
  height: max(15px, calc(4vw - 8px));
  padding: 4px;
  cursor: pointer;
}



.Header > div > nav > ul{
  display: flex;
  list-style: none;
}

.Header > div > nav > ul > li > .link{
  margin: max(5px,.7vw);
  font-size: max(13px,2.5vw);
}
