.DisplayCaseHorizontal{
  flex-direction: column;
  background-color: #aaa;
  padding-top: max(10px, 1.5vw);
}

.DisplayCaseHorizontal > aside{
  position: relative;
  display: flex;
  padding-inline: max(10px, 1.5vw);
  padding-block: max(10px, 1vw);
  overflow-y: hidden;
  overflow-x: scroll;
  height: 430px;
}

.DisplayCaseHorizontal > h1{
  color: #000;
  font-size: max(20px, 4vw);
  margin-left: 15px;
  display: block;
}

/* Scroll */

  /* Works on Firefox */
  .DisplayCaseHorizontal > aside{
    scrollbar-width: thin;
    scrollbar-color: #aaa #555;
  }

  /* Works on Chrome, Edge, and Safari */
  .DisplayCaseHorizontal > aside::-webkit-scrollbar {
    width: 12px;
  }

  .DisplayCaseHorizontal > aside::-webkit-scrollbar-track {
    background: #555;
  }

  .DisplayCaseHorizontal > aside::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
    border: 3px #555 solid;
  }